.root {
    -fx-background-color: #ab6bd6;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

.button {
    -fx-text-fill: black;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: rgba(255, 255, 255, 0.1);
    -fx-border-width: 2;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-font-size: 30;
}

.button:hover {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

#game {
    -fx-alignment: CENTER;
    -fx-spacing: 20;
}

.label {
    -fx-font-weight: bold;
    -fx-font-size: 13;
    -fx-text-fill: white;
}
