.root {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

#gameScreen, #menuScreen{
    -fx-background-color: black;
}

.button {
    -fx-text-fill: black;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: rgba(255, 255, 255, 0.1);
    -fx-border-width: 2;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-font-size: 50;
}

.button:hover {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

#game {
    -fx-alignment: CENTER;
    -fx-spacing: 20;
}

.label {
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-text-fill: white;
}

.spazio {
    -fx-font-size: 130;
}

#back {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: rgba(255, 255, 255, 0.1);
    -fx-border-width: 2;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.vbox-background {
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}
